!!! XML
!!!
%html
  %header
    %title youtube@wii - simple and handy youtube player
    %link{:href => "css/layout.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    %meta{:name => "description", :content => "youtube@wii - simple and handy youtube player"} 
    %meta{:name => "keywords", :content => "wii, youtube, player"}
  %body{:style => 'font-size: 30px'}
    .index_title
      youtube@wii
    .input_area
      .description Youtubeアカウント名を入力
      %form{:action => 'dashboard', :method => 'get'}
        %input{:type => 'text', :name => 'account'}
        %input{:type => 'submit', :value => 'OK'}
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1524372-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

