!!! XML
!!!
%html
  %header
    %title starwars
  %body
    .input_area
      %form{:action => '', :method => 'post'}
        %textarea{:rows => 10, :cols => 50, :name => 'text'}
        %br
        %input{:type => 'submit', :value => '変換'}

    %br
    .result_title 結果
    %br
    .result_area #{(h @result).gsub(/\n/, "<br>\n")}
  
