!!! XML
!!!
%html
  %header
    %title #{@title}
  %body
    .main
      != "<embed src=\"#{@url + '&autoplay=1&ap=%2526fmt%3D18'}\" type=\"application/x-shockwave-flash\" wmode=\"transparent\" width=\"480\" height=\"385\"></embed>"


