!!! XML
!!!
%html{:style => 'height: 100%; width: 100%;'}
  %header
    %title #{@title}
  %body{:style => 'margin: 0px; padding: 0px; border: 1px black solid; font-size: 30px; height: 100%; width: 100%;'}
    %div{:style => 'margin: 0px; padding: 0px; height: 100%; width: 100%;'}
      != "<embed src=\"#{@url + '&autoplay=1&ap=%2526fmt%3D18'}\" type=\"application/x-shockwave-flash\" wmode=\"transparent\" width=\"560\" height=\"385\"></embed>"


