$blue: #3bbfce
$margin: 16px

.content-navigation
  border-color: $blue
  color: darken($blue, 9%)

.border
  padding: $margin / 2
  margin: $margin / 2
  border-color: $blue

body
  margin: 0px
  padding: 0px
  border: 1px black solid
  font-size: 30px
  height: 100%
  width: 100%

body > div
  margin: 0px
  padding: 0px
  height: 100%
  width: 100%

ul
  margin: 0px

input
  font-size: 30px

select
  font-size: 30px




